Debug
Release
.cproject
.mxproject
.settings/language.settings.xml
.vscode/settings.json
Core/Inc/main.h
Core/Inc/stm32_assert.h
Core/Inc/stm32f4xx_hal_conf.h
Core/Src/freertos.c
log_debug
sim7600LL.ioc
Drivers/CMSIS/Device/ST/STM32F4xx/License.md
Drivers/CMSIS/LICENSE.txt
Drivers/STM32F4xx_HAL_Driver/License.md
Middlewares/Third_Party/FreeRTOS/Source/LICENSE

